# Pull in proxy configuration

. /etc/profile.d/proxy.sh

# Discovered config values
{{range gets "/Boomi/*"}}
{{base .Key}}="{{.Value}}"
{{end}}

{{ range lsdir "/Boomi" }}
 {{ $Dir := . }}
 {{ $Path := printf "/Boomi/%s/*" $Dir}}
# From {{ $Path }}
  {{ range gets $Path}}
{{ $Dir }}_{{base .Key}}="{{.Value}}"
 {{ end}}
{{ end}}

# Use the right names

# Workday
export WD_PASSWORD=$Workday_Password
export WD_TENANT=$Workday_Tenant
export WD_USERNAME=$Workday_Username
export WD_BASE_URL=$Workday_BaseURL

# Vertica
export VERTICA_HOST=$Vertica_Host
export VERTICA_USERNAME=$Vertica_Username
export VERTICA_PASSWORD=$Vertica_Password

# RedShift
export REDSHIFT_USERNAME=$RedShift_Username
export REDSHIFT_PASSWORD=$RedShift_Password
export REDSHIFT_NAME=$RedShift_Database
export REDSHIFT_HOST=$RedShift_Host

# Amazon AWS Consolidated Billing
export AWS_ACCESS_KEY_ID=$AWS_AccessKeyID
export AWS_SECRET_ACCESS_KEY=$AWS_SecretAccessKey
