---
data_dir: /var/data-collectors

vertica:
  dsn: vertica

adjust:
  token: {{ getv "/config/Adjust/Token" }}
  apps:
    firefox: {{ getv "/config/Adjust/apps/firefox" }}
    focus: {{ getv "/config/Adjust/apps/focus" }}
    klar: {{ getv "/config/Adjust/apps/klar" }}
