config = {
  'proxies'  : {"https" : "http://proxy.service.consul:3128"},
  'api_key'  : '{{ getv "/config/BrickFTP/APIKey" "brickftp-apikey-not-set" }}',
  'username' : 'sfmc-etl',   # not used, just including FYI
}
