config = {
  'proxies'             : {"https" : "http://proxy.service.consul:3128"},
  'wd_username'         : '{{ getv "/config/Workday/UsersUsername" "workday-uname-not-set" }}',
  'wd_password'         : '{{ getv "/config/Workday/UsersPassword" "workday-pword-not-set" }}',
  'wd_seating_username' : '{{ getv "/config/Workday/SeatingUsername" "workday-seating-uname-not-set" }}',
  'wd_seating_password' : '{{ getv "/config/Workday/SeatingPassword" "workday-seating-pword-not-set" }}',
}
