config = {
  'proxies'             : {"https" : "http://proxy.service.consul:3128"},

  # remove the next four lines when data-integrations has been updated to not need them:
  'wd_username'         : '{{ getv "/config/Workday/UsersUsername" "workday-uname-not-set" }}',
  'wd_password'         : '{{ getv "/config/Workday/UsersPassword" "workday-pword-not-set" }}',
  'wd_seating_username' : '{{ getv "/config/Workday/SeatingUsername" "workday-seating-uname-not-set" }}',
  'wd_seating_password' : '{{ getv "/config/Workday/SeatingPassword" "workday-seating-pword-not-set" }}',

  # new-style config:
  'xmatters_integration' : {
    'username'   : '{{ getv "/config/Workday/UsersUsername" "workday-uname-not-set" }}',
    'password'   : '{{ getv "/config/Workday/UsersPassword" "workday-pword-not-set" }}',
    'sites_url'  : '{{ getv "/config/Workday/SitesUrl" "workday-sitesurl-not-set" }}',
    'people_url' : '{{ getv "/config/Workday/UsersUrl" "workday-usersurl-not-set" }}',
  },
  'seating' : {
    'username': '{{ getv "/config/Workday/SeatingUsername" "workday-seating-uname-not-set" }}',
    'password': '{{ getv "/config/Workday/SeatingPassword" "workday-seating-pword-not-set" }}',
    'url'     : '{{ getv "/config/Workday/SeatingUrl" "workday-seatingurl-not-set" }}',
  },
  'hr_dashboard' : {
    'username': '{{ getv "/config/Workday/HRDashboardUsername" "workday-hrdsh-user-not-set" }}',
    'password': '{{ getv "/config/Workday/HRDashboardPassword" "workday-hrdsh-pass-not-set" }}',
    'urls': {
      'headcount'   : '{{ getv "/config/Workday/HRDashboardHCUrl" "workday-hcurl-not-set" }}',
      'hires'       : '{{ getv "/config/Workday/HRDashboardHiresUrl" "workday-hiresurl-not-set" }}',
      'terminations': '{{ getv "/config/Workday/HRDashboardTermsUrl" "workday-termsurl-not-set" }}',
      'promotions'  : '{{ getv "/config/Workday/HRDashboardPromosUrl" "workday-promosurl-not-set" }}',
    },
  },
  'ta_dashboard' : {
    'username': '{{ getv "/config/Workday/TADashboardUsername" "workday-tadsh-user-not-set" }}',
    'password': '{{ getv "/config/Workday/TADashboardPassword" "workday-tadsh-pass-not-set" }}',
    'urls': {
      'hires' : '{{ getv "/config/Workday/TADashboardHiresUrl" "workday-ta-hiresurl-not-set" }}',
    },
  },
}
