config = {
  'proxies'  : {"https" : "http://proxy.service.consul:3128"},
  'hostname' : '{{ getv "/config/SalesforceFTP/Hostname" "ftp.s4.exacttarget.com" }}',
  'username' : '{{ getv "/config/SalesforceFTP/Username" "salesforceftp-username-not-set" }}',
  'password' : '{{ getv "/config/SalesforceFTP/Password" "salesforceftp-password-not-set" }}',
}
