config = {
  'proxies'      : {"https" : "http://proxy.service.consul:3128"},
  'xm_client_id' : '{{ getv "/config/XMatters/ClientID" "xmatters-clientid-not-set" }}',
  'xm_username'  : '{{ getv "/config/XMatters/Username" "xmatters-username-not-set" }}',
  'xm_password'  : '{{ getv "/config/XMatters/Password" "xmatters-password-not-set" }}',
}
