config = {
  'proxies'               : {"https" : "http://proxy.service.consul:3128"},
  'snippets_dir'          : '/var/lib/etl/snippets-stats',
  'geoip_db_loc'          : '/usr/share/GeoIP',
  's3_snippets_bucket'    : '{{ getv "/config/SnippetsStats/S3Bucket" "s3-bucket-not-set" }}',
  's3_snippets_path'      : '{{ getv "/config/SnippetsStats/S3BucketPath" "s3-bucket-path-not-set" }}',
  's3_snippets_bucket_AK' : '{{ getv "/config/SnippetsStats/S3AccessKeyID" "s3-access-keyid-not-set" }}',
  's3_snippets_bucket_SK' : '{{ getv "/config/SnippetsStats/S3SecretKey" "s3-secret-key-not-set" }}',
}
