config = {
    'base_dir'   : '/var/lib/etl/workday',
    'w_username' : '{{ getv "/config/Workday/Username" }}',
    'w_password' : '{{ getv "/config/Workday/Password" }}',
    'w_seating_username' : '{{ getv "/config/Workday/SeatingUsername" }}',
    'w_seating_password' : '{{ getv "/config/Workday/SeatingPassword" }}',
    'w_users_username' : '{{ getv "/config/Workday/UsersUsername" }}',
    'w_users_password' : '{{ getv "/config/Workday/UsersPassword" }}',
    'v_username' : 'dbadmin',
    'v_password' : '',
    'v_hostname' : '{{ getv "/config/Vertica/Host" }}',
    'v_table' :'mozilla_staff_plus',
    'v_today_field' : 'snapshot_date',
    'v_fields'   : [
        'employee_id',
        'first_name',
        'last_name',
        'email_address',
        'supervisory_organization',
        'cost_center',
        'functional_group',
        'manager_id',
        'manager_lastname',
        'manager_firstname',
        'manager_email',
        'is_manager',
        'hire_date',
        'location',
        'home_city',
        'home_country',
        'home_postal',
        'desk_number',
    ],
}

