from datetime import datetime,timedelta
config = {
    'today' : (datetime.now()).strftime("%Y-%m-%d"),
    'v_username' : '',
    'v_password' : '',
    'v_hostname' : '{{ getv "/config/Vertica/Host" }}',
    'w_username' : '',
    'w_password' : '',
    'v_table' :'''mozilla_staff (employee_id,first_name,last_name,email_address,supervisory_organization,cost_center,
    functional_group,manager_id,manager_lastname,manager_firstname,is_manager,hire_date,location,snapshot_date)'''
}
